<!DOCTYPE html>
<html>
<head>
  <title>Braavos</title>
  <%= stylesheet_link_tag    "braavos/application", media: "all" %>
  <%= javascript_include_tag "braavos/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
